<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Blank </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <div>
      <ion-button (click)="openBrowser()">Open Browser</ion-button>
    </div>
    <div>
      <ion-button (click)="openExternalIAB()">Open External</ion-button>
    </div>
    <div>
      <ion-button (click)="openSystemIAB()">Open System</ion-button>
    </div>
  </div>
</ion-content>
